@import "_variables";

.container-footer{
    background-color: $bg-color;
    width: 100%;
    display: flex;
    justify-content: center;


    p{
        font-family: 'Open Sans', sans-serif;
        color: $bg-color2;
        font-size: 14px;
        margin: 2%;
        padding: 2%;
    }

    img{
        width: 20%;
        margin: 2%;
    }

    a{
        display: inline-block;
        list-style-type: none;
        justify-content: flex-end;
        margin: 2%;
        padding: 2%;
        }   
    
        svg {
            color: $boton-color;

            &:hover{
                color: darken($boton-color, 5%);
            }
        }
}




