@import "_variables";

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center; 

    .form-group{
        width: 600px;
    }

    .form-group textarea{
        resize: none; 
        height: 200px;
    }
    
    button{
        font-size: 16px;
        font-weight: bold;
        background-color: $boton-color;
        border: none ;
        border-radius: 0px;
        padding: 10px 40px;
        margin-bottom: 40px;
        cursor: pointer;
    
        &:hover{
            font-size: 16px;
            font-weight: bold;
            background-color: darken($boton-color, 5%);
            border: none ;
            border-radius: 0px;
            padding: 10px 40px;
            margin-bottom: 40px;
            cursor: pointer;
        }    
    }
}
