@import "_variables";

.navbar {
    background:transparent !important;
    transition:0.75s ease;
    width: 100%;
    height: 100px ;
    display: flex;
    position: fixed;
    z-index: 100;

    .scrolled {
        background:black !important;
    }

    a img{
        width: 15%;
        margin-left: 20px;
        padding: 10px;

        &:hover{
            color: black;
            opacity: 80%;;
        }
    }

    .navbar-nav a {
        color: $bg-color2;
        text-decoration: none;  
        position: relative;

        &:after {    
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: darken($bg-color2 , 20%);
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
        
        &:hover{
            color:darken($bg-color2 , 20%);
        }

      }

    .navbar-nav a:hover:after { 
        width: 100%; 
        left: 0; 
      }
}

/*
.bg-dark {
    background:transparent !important;
    transition:0.75s ease;
}
.bg-dark*/