#shop {
    img{
        width: 100%;
        padding-top: 3%;
        padding-bottom: 4%;  
      }

    
    .row{
        margin: 2%;
    }
    
    .col-sm {
        position: relative;
      }


}