*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_header",
        "_titles",
        "_sobremi",
        "_galeria",
        "_workshop",
        "_shop",
        "_form",
        "_footer",
        "_variables",
        "_modal";

        html {
            scroll-behavior: smooth;
          }          
        
body{
    background-color: $bg-color2;
    font-family: 'Lexend Mega', sans-serif;
    color: $title-font;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $paragraph-font;
 }